/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .cart-container {
    max-width: 1200px;
    margin: auto;
  }
  
  .cart-main {
    padding: 20px;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse; 
  }
  .cart-table thead {
    border-bottom: 1px solid #ccc; 
   
  }
  
  .cart-table tr {
    border-bottom: 1px solid #ccc; 
  }
  
  .cart-table tr:last-child {
    border-bottom: none; 
  }
  
  .cart-table td {
    padding: 10px; 
    text-align: left;
 
  }

  .cart-table td.td-quantity{
    text-align: left;
    padding-left: 30px;
   
  }
  .cart-table th {
    padding: 10px; 
    text-align: left;
    color: #bebdbd;
  }

  .cart-table th.th-quantity{
    text-align: left;
    padding-left: 0px;
   
   
  }
  /* .cart-table td.td-price{
    text-align: right;
    padding-right: 50px;
    padding-left: 0px;
   
  } */
  
  .item-img {
    width: 50px; /* Adjust the image size as needed */
    height: auto;
  }
  
  .remove-btn {
    cursor: pointer; /* Pointer cursor for remove button */
  }
  
  
  .remove-btn {
    background: red;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    width: 25px;
    height: 25px;
   
  }

  .cart-table td.td-remove {
    text-align: left; 
    /* vertical-align: middle; */
    padding-left: 50px;
  }

  .cart-totals-with-promo{
    display: flex;
    flex-direction: row; /* Stack elements vertically */
    gap: -10px;
    
  }
  
  .cart-totals {
    margin-top: 20px;
    margin-left: 0px;
    
    width: 65%;
    
  }
  
  .cart-totals table {
    width: 35%;
    border-collapse: collapse; 
    
  }
  
  .cart-totals table tr {
    margin-top: 10px; /* This will not work on tr */
  }
  
  .cart-totals table td {
    padding: 10px; /* Adds space between the text and the cell borders */
    text-align: left; /* Aligns the values to the right */
  }
  
  .cart-totals table tr + tr {
    margin-top: 10px; /* Adds margin between rows */
  }
  
  .cart-totals table tr:last-child {
    border-top: 2px solid #ccc; /* Optional: Adds a border between the rows */
  }

  .cart-totals table td.td1{
    padding: 10px;
    text-align: right; 
  }
  
  
  .checkout-btn {
    display: block;
    margin-top: 20px ;
    margin-left: 0px;
    padding: 10px 20px;
    background: #028482;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .promo-code {
    text-align: left;
  }
  
  .promo-code input {
    padding: 10px;
    margin-top: 10px;
    margin-right: 0px;
    background-color: #e4e2e2;

  }
  
  /* .cart-footer {
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    padding: 20px 0;
  }
  
  .footer-logo h2 {
    margin: 0;
  }
  
  .social-icons span {
    margin: 0 5px;
    cursor: pointer;
  }
   */

  p a{
    color:rgb(4, 116, 164) ;
  }

  .btn-submit{
    color: #ffffff;
    background-color: #cb7e51be;
    border-radius: 5px;
    margin-top: 10px;
    border-color: white;
    padding: 10px 50px 10px 50px;
    margin-left: 0px;
    /* padding-left: 20px;
    padding-right: 20px; */
  }