.explore-menu hr {
    margin: 1px 0;
    height: 1px;
    border-color: white;
    border: none;
}

.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

explore-menu h1 {
    color: black;
    font-weight: 500;
}

.explore-menu-text {
    max-width: 60%;
    color: grey;
}

.explore-menu-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-menu-categories::-webkit-scrollbar {
    display: none;
}

.explore-menu-category-item img {
    width: 7.5vw;
    height: 7.5vw; /* Set height equal to width */
    object-fit: cover;
    border-radius: 50%; /* Ensures circular shape */
    border: 2px solid #ddd;
    transition: transform 0.2s;
    cursor: pointer;
}



.explore-menu-category-item img:hover {
    transform: scale(1.05);
}

.explore-menu-category-item p {
    margin-top: 10px;
    font-size: 1.1em;
    color: #333;
    font-weight: 500;
    font-size: max(1vw, 16px);
    text-align: center;
    cursor: pointer;
}

.explore-menu-category-item .active{
    border: 4px solid var(--green);
    padding: 2px;
}